body, html {
  background-image: url('resources/bg.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  color: white;
}
.background {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  text-align: center;
  padding: 20px;
}
.logo {
  width: 30px;
  height: 30px;
  margin: 120px auto 100px;
  border: 1px solid black ;
  border-radius: 25px;
  padding: 10px;
  border-color: white;
}
h1 {
  font-size: 3em;
  margin: 20px 0;
}
h2 {
  text-decoration-line: underline;
  text-underline-offset: 15px;
}
h3 {
  font-size: 1em;
  margin-bottom: 60px;
}
p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2em;
  margin: 0;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
button {
  padding: 10px 40px;
  font-size: 1em;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
button:first-child {
  border-radius: 5px 0 0 5px; 
}
button:last-child {
  border-radius: 0 5px 5px 0; 
}
button:hover {
  background-color: white;
  color: black;
}
.tab-video {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.tab-content {
  display: none;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.tab-content.active {
  display: block;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.3s;
}
.close-btn:hover {
  transform: rotate(90deg);
}
.tab-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
}
.highlight {
  color: #00ffff;
  border-bottom: 1px dotted white;
  cursor: pointer;
  transition: color 0.3s;
}
.highlight:hover {
  color: #ff00ff;
}
@media (max-width: 768px) {
  h1 {
      font-size: 2em;
  }
  p {
      font-size: 1em;
  }
  .buttons {
      flex-direction: column;
  }
}